/*  your css code here. If applicable */
.container{
	padding:25px ;
	margin-top:3rem;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}
.hide{
	display:none;
}
.modal-header{
	background-color:green;
	color:white;
	padding:10px 20px;

}
.modal-body{
  display: flex;
  align-items: center;
  gap:1.5rem;
}