/*  your css code here. If applicable */
.container{
	padding:25px ;
	background-color:gray;
	margin-top:2rem
}
.hide{
	display:none;
}
.modal-header{
	background-color:green;
	color:white;
	padding:10px 20px;

}